body {
  font-family: sans-serif;
  padding: 0 5%;
}
body, input, td {
  font-size: 18px;
}
input {
  padding: 0.2em 0.3em;
}
input[type="button"],
input[type="submit"] {
  display: inline-block;
  -webkit-appearance: button;
}
fieldset {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 8px;
}
h2 form, h2 form input {
  display: inline-block;
  vertical-align: top;
}
h2 form input {
  vertical-align: middle;
}
fieldset, #queue {
  background: #F4FAFD;
}
#queue {
  padding: 1em;
  list-style-position: inside;
}
#queue li {
  margin-bottom: 0.5em;
}
